[project]
name = "datasales-hub"
version = "0.0.0"
description = ""
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "pyrefly>=0.43.1",
    "ruff>=0.14.6",
]
